

.desc li {
    list-style-type: none;
    margin: 0px;
    /*line-height: 44px;*/
}

.desc li a {
    /*width: 100%;*/
}

.desc {
    display: none;
}

.desc > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.desc li a:hover {
    background: #1e282c;
    font-size: 15px;
    color: white;
}